# Google AI API Configuration
GOOGLE_API_KEY=AIzaSyCCjKJxOQjweJRirVUcoZqb2t8_qEIWOFQ

# Weaviate Configuration
WEAVIATE_URL=https://8ni9fsytlsqzmfzqft4ya.c0.asia-southeast1.gcp.weaviate.cloud
WEAVIATE_API_KEY=TWxkL1pqTWw5QXJOd1Y4T19jZVdyQitlVWI3L0pXaytrNDhVcDZZQUlqSjRSOGcyeHdmaG9LbVhwTGVZPV92MjAw 
USE_LOCAL_WEAVIATE=false

# Logging
LOG_LEVEL=INFO
